.stack {
    position: relative;
    width: 600px;
    margin: 30px auto;
}

.stack > .sheet {
    position: absolute;
    transition: all 300ms ease-in-out;
    display: block;
    border: 1px solid black;
    padding: 20px;
    background: white;
    width: 100%;
    height: 600px;
    left: 0;
    overflow: auto;
}